.green-text {
  color: #006400;
}
.blue-text {
  color: #000084;
}
body {
  font-size: 1.2rem;
}
.container {
  max-width: 70em;
  margin: 0 auto;
  padding: 2em;
  border: 5px solid #006400;
  border-radius: 1em;
}
