.container {
  max-width: 65em;
  margin: auto;
  border: 3px solid #002b20;
  padding: 1em;
  border-radius: 1em;
}
.nav-link {
  border-right: 2px solid #adabd4;
  padding-right: 0.2em;
  padding-left: 0.2em;
}
.nav-link:last-child {
  border: none;
}